*{
    margin: 0;
    padding: 0;
}
   
  .background {
    width: 100%;
    background: rgba(0,0,0,0.7)url(/Images/image\ 1\ \(6\).jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    background-blend-mode: darken;
  }
  
       #intro {
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
       }
       
       #main {
        padding: 20px;
        display: flex;
                justify-content: space-between;
               }

    #drama-name {
      text-align: center;
      color: aliceblue;
    }
          
   #uk {
 height: 300px;
  display: block;
  margin: 1px auto;
  cursor: pointer;
                
    }
    
   .wrapper {
  display: block;
  right: 248px;
   margin: 50px auto;
   width: 50%;
   height: 200px;
  display: grid;
   grid-template-columns: 1.5fr 1.5fr 2fr;
   background: rgba(0,0,0,0);
   box-shadow: 12px 12px 24px #000;
    border-radius: 30px;            
    }

    .like,.dislike,.subscribe {
      display: grid;
      place-items: center;
    }

    #button {
      margin-top: 10px;
      font-size: 120px;
      background: none;
      border: none;
      color: black;
      text-shadow: 5px 8px 15px #000;
      transition: .5s;
        }

        #button:hover {
          color: red;
          transform: scale(1.2);
          cursor: pointer;
        }

        input {
          margin-top: -100px;
          margin-left: 15px;
          width: 100%;
          border: none;
          outline: none;
          text-align: center;
          background: none;
          color: aliceblue;
          font-size: 30px;
          font-weight: 800px;
          pointer-events: none;
        }

        #sub {
          background: black;
          border: none;
          outline: none;
          cursor: pointer;
          color: rgb(240, 248, 255);
          font-size: 25px ;
          font-weight: 700;
          padding: 15px 35px;
          border-radius: 35px;
          transition: 0.5s;
          box-shadow: 12px 12px 24px #000;
          
        }

        #sub:hover {
          background: red;
          transform: scale(1.05);
        }

     p {
    background-color: none;
     font-weight: 400;
          width: 100%;
     text-align: center;
     color: aliceblue;
 }

 #header {
  margin: 1px auto;
  color: aliceblue;
 }
  
 #views {
  margin-top: 20px;
  margin-left: 500px;
  color: black;
  cursor: pointer;
   }

   .form { 
       text-align: center;
       } 

  #input {
    width: 100%;
    height: 40px;
    background: none;
    color: aliceblue;
    border-bottom: 3px solid #000;
    font-size: 20px;
    text-align: center;
  }
 
  #input:focus {
    border-bottom: 3px solid #000;
  }
  
  .form button {
    height: 30px;
    width: 160px;
    background: red;
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
  }

  .form button:hover {
opacity: .8;
  }

.delete-form {
height: 200px;
width: 100%;
background: rgb(0 0 0 0.5);
box-shadow: 0 5px 15px #111;
border-radius: 35px;
padding: 15px 0px;
}

.delete-form #box {
  height: 90%;
  width: 100%;
  border-radius: 35px;
  background: grey;
  overflow-y: auto;
  text-align: center;
  font-size: 30px;
  color: blue;
  opacity: 1;
}
   
   #queen {
  margin: 100px;
  height: 500px;
  border-radius: 100px;
 }

 #red {
  height: 500px;
  margin-bottom: 100px;
  border-radius: 100px;
 }
  
 #country {
 
position: absolute;
width: 370px;
height: 510px;
left: 1090px;
top: 1310px;
border-radius: 100px;
}
